@model MVC_online_book_ticket.Models.Financials

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
    var er = ViewBag.error;

}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3 col-xl-3">
                    <h5 class="card-title fw-semibold mb-4">Forms update Financial</h5>
                </div>
                <div class="col-sm-9 col-xl-9">
                    <h3 style="color:red"><span class="text-danger">@er</span></h3>
                </div>
                <div class="col-sm-2 col-xl-2">
                    <a asp-action="Index" class="d-flex btn btn-outline-link m-1 btn btn-warning">Back to list</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="FinancialsId" />
                        <div class="row">
                            <div class="col-lg-6 d-flex">
                                <div class="mb-3">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-lg-6 d-flex">
                                <div class="mb-3">
                                    <label asp-for="FinancialFrom" class="control-label"></label>
                                    <input asp-for="FinancialFrom" class="form-control" />
                                    <span asp-validation-for="FinancialFrom" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="col-lg-6 d-flex">
                                <div class="mb-3">
                                    <label asp-for="Percentage" class="control-label"></label>
                                    <input asp-for="Percentage" class="form-control" />
                                    <span asp-validation-for="Percentage" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-lg-6 d-flex">
                                <div class="mb-3">
                                    <label asp-for="FinancialTo" class="control-label"></label>
                                    <input asp-for="FinancialTo" class="form-control" />
                                    <span asp-validation-for="FinancialTo" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="col-lg-6 d-flex">
                                <div class="mb-3">
                                    <b><label asp-for="Category" class="control-label"></label></b>
                                    <div class="radio inlineblock m-r-20">
                                        <input asp-for="Category" type="radio" id="Discount" class="with-gap" value="Discount" checked>
                                        <label for="Discount">Man</label>
                                    </div>
                                    <div class="radio inlineblock">
                                        <input asp-for="Category" type="radio" id="Reimbursement" class="with-gap" value="Reimbursement">
                                        <label for="Reimbursement">Woman</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


